.module {
  height: 100vh;
  /* Use vh as a fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  margin: 0 auto;
  max-width: 30%;
}

.load-complete .load-fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.hero-txt-img {
  width: 200px;

  @include media-breakpoint-down(md) {
    width: 150px;
    // margin-top: 80px;
  }
}

.hero-thumbnail {
  transform: scale3d(0.5, 0.5, 0.5);
  opacity: 0;
  transition: all 0.8s ease-out;
  // transition-delay: 1s;
}

.load-complete.fp-viewing-section0 {
  .hero-thumbnail {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@media (min-width: 1200px) {
  .fp-viewing-section0 {
    // .hero-container{
    //   z-index: 99;
    // }

    .fullpage-wrapper {
      pointer-events: none;
    }
  }
}

.page-loader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fbd2cf;
  z-index: $zindex-tooltip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.page-loader svg {
  -webkit-animation: loader-anim 1s infinite 0s linear;
  animation: loader-anim 1s infinite 0s linear;
}

@keyframes loader-anim {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  27% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  71% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

$momo: #ae2070;
$momo2: #f02475;

body {
}

.is-scroll-down {
  .navbar-cashback {
    transform: translate3d(0, -100%, 0);
  }
}
.navbar > .container {
  position: relative;
}

.navbar-cashback {
  padding-top: 0;
  padding-bottom: 0;

  will-change: transform;
  transition: transform 0.3s ease-in;

  transform: translate3d(0, 0, 0);

  .nav-item {
    .nav-link {
      color: gray("800");
    }

    &.active {
      .nav-link {
        color: $momo;
        font-weight: bold;
      }
    }
  }

  .nav-link {
    color: gray("900");
    margin-right: 20px;
  }

  .navbar-brand {
    margin-right: 50px;
  }
}

.navbar-cashback {
  // background: rgba(255, 255, 255, 0.9) !important;
  background: transparent !important;

  .collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
  }
}
.navbar-light .navbar-toggler {
  background: white;
  border-color: #ae2070;
}

.navbar-brand img {
  width: 42px;
}

.navbar-collapse {
  background: white;
  // background: rgb(251, 210, 208);
  padding: 10px 15px;
  color: white;
  width: 250px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.4);
  border: 2px solid $momo;
  border-radius: 5px;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  position: absolute;
  right: 15px;
  top: 55px;
}

.navbar-toggler {
  padding: 1px 5px;
}

.hero-thumbnail {
  padding-left: 100px;
  padding-right: 100px;
  // padding-bottom: 120px;

  @media (max-width: 1500px) {
    img {
      max-width: 600px;
      width: 100%;
    }
    .hero-txt-img {
      max-width: 150px;
      width: 100%;
    }
  }

  @media (max-width: 1400px) {
    img {
      max-width: 500px;
      width: 100%;
    }
    .hero-txt-img {
      max-width: 130px;
      width: 100%;
    }
  }

  @include media-breakpoint-down(md) {
    padding-left: 0;
    padding-right: 0;
  }

  @include media-breakpoint-down(sm) {
    padding-left: 0;
    padding-right: 0;
  }
}

.load-complete {
  .hero-head {
    animation-name: fadeInUp;
  }
}

.cashback-sponser {
  background: #fef2f1;
  img {
    mix-blend-mode: darken;
  }
}

.hero-head {
  color: $momo;
  margin-bottom: 40px;
}

.hero-txt {
  font-size: 30px;
  font-weight: bold;
}

.hero-container {
  height: 100vh;
  width: 100%;
  /* Use vh as a fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);

  background: url("../images/bg.jpg") no-repeat center top #fac0bf;
  // background: #fbd2cf;

  display: flex;
  // flex-flow: row wrap;
  flex-direction: column;
  overflow: hidden;
  position: fixed;
  // pointer-events: none;
  top: 0;
  left: 0;
  // z-index: 0;
}

.road {
  flex: 0;
}

.page-bg-mobile {
  height: 100vh;
  width: 100%;
  /* Use vh as a fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  // background: #fbd2cf;
  display: flex;
  // flex-flow: row wrap;
  flex-direction: column;
  overflow: hidden;
  position: fixed;
  // pointer-events: none;
  top: 0;
  left: 0;
  // z-index: 0;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@include media-breakpoint-down(md) {
  #hero-container {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
    visibility: hidden !important;
  }
}

@include media-breakpoint-down(sm) {
  #hero-container {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
    visibility: hidden !important;
  }

  .coin {
    display: none !important;
  }

  .road {
    margin-bottom: 0 !important;
    height: 100px;
    > div {
      display: none !important;
    }
  }

  .car {
    height: 80px;
  }

  .car-item {
    display: none;
    visibility: visible;
  }

  .house {
    position: relative;
    // margin-bottom: 190px;

    .house-item {
      flex: 0 0 100px;
    }

    .house-label .big {
      font-size: 12px;
    }

    .house-label {
      padding: 5px 15px;
      border-radius: 20px;

      opacity: 0;

      :before {
      }

      .big {
        // font-size: 16px;
        // line-height: 1;
        // white-space: nowrap

        font-size: 12px;
      }
    }
  }
}

.hero-content {
  flex: 1;
  // height: 100%;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  z-index: 10;
  position: relative;

  pointer-events: none;
  padding-top: 50px;
  .hero-content-flex {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 1400px) {
      align-items: flex-start;
    }
  }


  @include media-breakpoint-down(sm) {
    padding-top: 0;
  }
}

.hero-thumbnail {
  user-select: none;
  pointer-events: none;
}

.coin {
  pointer-events: none;
}

.coin-item {
  position: absolute;
  user-select: none;
}

.coin-1 {
  top: -5%;
  left: 10%;
  width: 120px;
}

.coin-2 {
  bottom: 15%;
  left: -1%;
  width: 50px;
}

.coin-3 {
  top: 30%;
  left: 30%;
  width: 60px;
}

.coin-4 {
  top: 8%;
  right: 10%;
  width: 120px;
}

.coin-5 {
  bottom: 25%;
  right: 5%;
  width: 60px;
}

.car {
  height: 162px;
  position: relative;
  width: 100%;
  z-index: 20;
  pointer-events: none;

  @include media-breakpoint-down(sm) {
    // display: none;
    // display: none;
  }
}

.car-item {
  position: absolute;
  will-change: left;
  transform: translate3d(0, 0, 0);
}

.car-1 {
  top: 31px;
  animation: speed 17s linear infinite;
}

.car-2 {
  top: 12px;
  left: 285px;
  animation: speed 16s linear infinite;
}

.car-3 {
  top: -43px;
  right: 150px;
  animation: speed 20s linear infinite reverse;
}

.car-4 {
  top: -17px;
  right: 350px;
  animation: speed 13s linear infinite reverse;
}

.car-5 {
  top: 25px;
  left: 550px;
  animation: speed 38s linear infinite;
}

@keyframes speed {
  from {
    left: -120px;
  }

  to {
    left: 130%;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes fly {
  0% {
    transform: translateY(-50px) rotate(-12deg);
  }

  100% {
    transform: translateY(-100px) rotate(10deg);
  }
}

@keyframes carbody {
  20% {
    transform: translateY(1px);
  }

  40% {
    transform: translateY(-1px);
  }

  60% {
    transform: translateY(1px);
  }

  80% {
    transform: translateY(-1px);
  }

  100% {
    transform: translateY(1px);
  }
}

.road {
  position: relative;
  z-index: 1;
  margin-bottom: -60px;
}

.road-bg {
  height: 258px;
  width: 100%;
  background-position: center center;
  background-repeat: repeat-x;
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  background-size: 1900px auto;
}

.road-ride {
  height: 258px;
  width: 100%;
  background-position: center bottom;
  background-repeat: repeat-x;
  position: absolute;
  z-index: 25;
  user-select: none;
  pointer-events: none;
  bottom: 0;
  left: 0;
  background-size: 1500px auto;
}

.cloud {
  height: 258px;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;

  position: absolute;
  z-index: -1;
  top: -180px;
  left: 0;
  opacity: 0.5;

  animation-iteration-count: infinite;
  animation-timing-function: linear;
  will-change: background-position;
  user-select: none;

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.cloud-1 {
  animation-name: cloudMove1;
  // animation: cloud 40s linear infinite ;

  animation-duration: 40s;
}

.cloud-2 {
  // animation: cloud 5s linear infinite ;
  animation-name: cloudMove2;
  animation-duration: 70s;
}

@keyframes cloud {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes cloudMove1 {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 1544px 0;
  }
}

@keyframes cloudMove2 {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 1782px 0;
  }
}

.house {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  padding: 0 15px;
  position: relative;
  z-index: 15;

  justify-content: center;
}

.house-img {
  transform-origin: center bottom;
}

.house-item {
  padding: 0 10px;
  cursor: pointer;
  position: relative;

  &.is-hover {
    .house-label {
      opacity: 1;
      visibility: visible;
      display: block;
      // @extend .tada;
    }
  }

  &.is-auto {
    .house-label {
      opacity: 1;
      visibility: visible;
      display: block;
      // @extend .tada;
    }
  }
}

.house-label {
  position: absolute;
  min-width: 200px;
  // bottom: calc(100% + 0px);
  bottom: 100%;
  text-align: center;
  background: #fff0f2;
  color: white;
  padding: 9px 25px;
  border-radius: 30px;
  // pointer-events: none;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  // transition: all 0.2s ease-in;

  opacity: 0;

  :before {
    pointer-events: none;
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12.1px 7px 0 7px;
    border-color: #fff0f2 transparent transparent transparent;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -6px;
  }

  .big {
    // font-size: 16px;
    // line-height: 1;
    // white-space: nowrap

    font-weight: bold;
    line-height: 1;
    font-size: 16px;
    white-space: nowrap;
    text-transform: uppercase;
    color: $primary;
  }

  .sm {
    font-size: 13px;
    font-weight: bold;
  }

  .xs {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.house-1 {
  width: 180px;
}

.house-2 {
  width: 290px;
}

.house-3 {
  width: 220px;
}

.house-10 {
  width: 180px;
}

.house-plane {
  width: 250px;
  top: -170px;
  left: 20%;
  position: absolute;
  z-index: 15;
  .house-label {
    position: absolute;
    min-width: 250px;
  }

  @media screen and (max-width: 1300px) {
    left: 10%;
  }
}

.house-4 {
  width: 210px;
}

.house-5 {
  width: 186px;
}

.house-6 {
  width: 250px;
}

.house-11 {
  width: 250px;
}

.house-8 {
  width: 220px;
}

.house-9 {
  width: 160px;
}

.section {
}

.section-hero {
  pointer-events: none;

  .fp-tableCell {
    vertical-align: top;
    padding-top: 70px;
  }
}

.section-fullpage {
  // min-height: 100%;
  width: 100%;
  // padding-bottom: 120px;
  // padding-top: 60px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  padding-top: 90px;
  padding-bottom: 80px;

  @include media-breakpoint-down(sm) {
    transform: scale(0.95, 0.95);
    transition: 0.4s all ease-in;
    will-change: transform;

    .section.active & {
      transform: scale(1, 1);
    }
  }

  > div {
    // width: 100%;
  }

  //   overflow: hidden
}

@include media-breakpoint-down(md) {
  .section-fullpage {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@include media-breakpoint-down(sm) {
  .section-fullpage {
    padding-top: 15px;
    padding-bottom: 15px;
    // padding-bottom: 20px;
    // padding-top: 0;
    //   overflow: hidden
  }
}

@include media-breakpoint-down(sm) {
  .section-fullpage {
    // padding-bottom: 20px;
    // padding-top: 0;
    //   overflow: hidden
  }
}

.box {
  padding: 30px 50px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid $momo;
  min-height: 400px;
  position: relative;

  &.bg-transparent {
    // background-color: #fdd700;
    // border: 2px solid darken(#fdd700, 10%);
    // padding: 0;

    background-color: transparent;
    border-color: transparent;
  }

  &.bg-pink {
    // background: $momo;
    background-color: #ffdcea;
    // color: white;
  }

  .box-title + .box-content {
    margin-top: 30px;
  }
}

@include media-breakpoint-down(md) {
  .box {
    padding: 20px 20px;
    border-radius: 10px;
  }
}

@include media-breakpoint-down(sm) {
  .box {
    padding: 8px;
    border-radius: 5px;
  }
}

.box-content {
}

.box-title {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 15px;
  // width: 500px;
  // height: 110px;

  width: 449px;
  height: 100px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 16px 22px 0 0;
  overflow: hidden;

  position: absolute;
  left: 50%;
  top: -50px;
  transform: translate3d(-50%, 0, 0);

  .sub {
    display: block;
    color: #f5e91c;
    font-size: 0.9em;
  }
}

@include media-breakpoint-down(md) {
  .box .box-title + .box-content {
    margin-top: 20px;
  }
  .box-title {
    top: 0;

    background-image: none !important;
    background-color: $momo;
    padding: 5px 10px;
    position: relative;
    padding: 5px 10px;
    height: auto;
    display: block;
    position: relative;
    width: auto;
    font-size: 15px;
    border-radius: 10px;
  }

  .box {
    // margin-top: 60px;
  }
}

.htu-item {
  max-width: 240px;
  margin: 0 auto 0;

  .number {
    @include rfs(30px);
    color: $momo;
    font-weight: bold;
    line-height: 1;
    user-select: none;
    pointer-events: none;
  }

  .txt {
    @include rfs(15px);
    color: black;

    // font-weight: bold;
  }
}

.htu-item-img {
  margin-bottom: 10px;
  user-select: none;
  pointer-events: none;
}

@include media-breakpoint-down(sm) {
  .htu-item .number {
    font-size: 14px;
    margin-top: 5px;
    margin-right: 5px !important;
  }

  .htu-item {
    max-width: 100%;
    display: flex;
    flex-flow: row nowrap;
  }

  .htu-item-img {
    width: 180px;
  }

  .htu-item-img + div {
    flex: 1;
    margin-top: 10px;
  }
}

.benefit > div {
  display: flex;
}

.fp-scroller {
}

.benefit-item {
  border-radius: 15px;
  background-color: #ffffff;
  position: relative;
  padding: 50px 30px;
  box-shadow: 0 5px 15px 0 rgba(110, 110, 110, 0.1);
  width: 100%;
  transition: 0.3s;
  margin-bottom: 15px;
}

@include media-breakpoint-down(md) {
  .benefit-item {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 30px 10px;
  }
}

.benefit-item-img {
  img {
    height: 80px;
    width: auto;
  }
}

.benefit-item-txt {
  text-align: center;
  margin-top: 30px;
  @include rfs(20px);
  line-height: 1.3;
}

@include media-breakpoint-down(md) {
  .benefit-item {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 15px 5px;
  }

  .benefit-item-img {
    width: 50px;
    margin: 0 auto;
    display: block;
  }

  .benefit-item-txt {
    text-align: center;
    margin-top: 15px;
    @include rfs(16px);
  }
}

.htk-title {
  @include rfs(20px);
  margin-bottom: 20px;
  // font-weight: bold;
  color: $momo;
  // line-height: 1.4;
  strong {
    font-size: 1.2em;
  }
  &.is-small {
    color: gray("800");
    @include rfs(17px);
    strong {
      color: $momo;
      font-size: 1.1em;
    }
  }
}

.htk-list {
  font-size: 15px;

  li:not(:last-child) {
    margin-bottom: 15px;
  }

  li {
    position: relative;
    padding-left: 35px;

    &:after {
      content: "";
      position: absolute;
      top: 5px;
      left: 0;
      background-size: cover;
      width: 20px;
      height: 20px;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDc4LjM2OSA3OC4zNjkiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDc4LjM2OSA3OC4zNjk7IiB4bWw6c3BhY2U9InByZXNlcnZlIiBjbGFzcz0iIj48Zz48Zz4KCTxwYXRoIGQ9Ik03OC4wNDksMTkuMDE1TDI5LjQ1OCw2Ny42MDZjLTAuNDI4LDAuNDI4LTEuMTIxLDAuNDI4LTEuNTQ4LDBMMC4zMiw0MC4wMTVjLTAuNDI3LTAuNDI2LTAuNDI3LTEuMTE5LDAtMS41NDdsNi43MDQtNi43MDQgICBjMC40MjgtMC40MjcsMS4xMjEtMC40MjcsMS41NDgsMGwyMC4xMTMsMjAuMTEybDQxLjExMy00MS4xMTNjMC40MjktMC40MjcsMS4xMi0wLjQyNywxLjU0OCwwbDYuNzAzLDYuNzA0ICAgQzc4LjQ3NywxNy44OTQsNzguNDc3LDE4LjU4Niw3OC4wNDksMTkuMDE1eiIgZGF0YS1vcmlnaW5hbD0iIzAwMDAwMCIgY2xhc3M9ImFjdGl2ZS1wYXRoIiBzdHlsZT0iZmlsbDojN0FBNTFDIiBkYXRhLW9sZF9jb2xvcj0iIzAwMDAwMCI+PC9wYXRoPgo8L2c+PC9nPiA8L3N2Zz4=);
    }
  }
}

.about-dash {
  max-width: 500px;
  height: 1px;
  background: rgba(0, 0, 0, 0.2);
  margin: 0 auto 30px;
}

.about-heading {
  margin-bottom: 5px;
  margin-top: -10px;
}

.about-content {
  font-size: 15px;
  line-height: 1.7;
}

@include media-breakpoint-down(md) {
  .about-heading {
    margin-bottom: 10px;
    margin-top: 0;
  }

  .htk-list {
    font-size: 14px;
  }

  .htk-title {
    font-size: 15px !important;
    line-height: 1.4;
  }

  .about-content {
    font-size: 14px;
    line-height: 22px;
  }
}

.indicate-dots {
  position: fixed;
  counter-reset: a;
  top: 0;
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-align: center;
  align-items: center;
  height: 450px;
  margin: auto;
  left: 70px;
  z-index: 50;
}

.indicate-dots li {
  padding: 9px 0;
  color: #fefefe;
  position: relative;
}

.indicate-dots li a {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  right: 0;
}

.indicate-dots li:before {
  content: "";
  color: gray("900");
  font-weight: bold;
  display: block;
  font-size: 16px;
  counter-increment: a;
  content: "0" counter(a);
}

.indicate-dots li:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 1px;
  height: 0;
  transition: all 0.3s ease;
  background-color: $momo2;
}

.indicate-dots li.active {
  color: $momo2;
}

.indicate-dots li.active:after {
  margin: 6px auto -8px;
  height: 88px;
}

.indicate-dots li:last-child.active:after {
  height: 70px;
}

.indicate-dots li:last-child.active a:after {
  width: 4px;
  position: absolute;
  bottom: -92px;
  left: 0;
  right: 0;
  margin: auto;
  height: 4px;
  background-color: $momo2;
  content: "";
  border-radius: 50%;
}

@media screen and (max-width: 1300px) {
  .indicate-dots {
    display: none;
  }
}

.my-menu {
}

.section.active {
  .animated2 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .fadeInUp2 {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }

  .zoomIn2 {
    -webkit-animation-name: zoomIn2;
    animation-name: zoomIn2;
  }
}

.animated.delay-0-5s {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

@keyframes zoomIn2 {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes fadeInUp2 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fp-controlArrow {
  display: none;
}

.sm-gutters.row {
  margin-right: -5px;
  margin-left: -5px;

  > .col,
  > [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
  }
}

.htu-nav {
  text-align: center;
  // justify-content: center;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  white-space: nowrap;
  flex-flow: nowrap;
  margin: 0 auto;
  display: block;
  white-space: nowrap;
  margin-top: 30px;

  .nav-item {
    display: inline-block;
    margin: 0 5px;
  }

  .nav-link {
    font-size: 15px;
    padding: 4px 15px;
    border-radius: 20px;
    border: 1px solid $momo;
    color: $momo;
    display: block;

    transition: all 0.1s ease-in;

    &.active {
      background: $momo;
      color: white;
    }
  }

  @include media-breakpoint-down(sm) {
    margin-top: 15px;

    .nav-item {
      display: inline-block;
      margin: 0 2px;
    }

    .nav-link {
      white-space: normal;
      max-width: 150px;
      font-size: 13px;
      padding: 2px 10px;
      border-radius: 10px;
    }
  }
}

.cta-container {
  text-align: center;
  position: fixed;
  bottom: 30px;
  z-index: 999;
  left: 0;
  right: 0;

  .cta-btn {
  }
}

.sponser-img {
  background: #f9cadc;
  img {
    // mix-blend-mode: darken;
  }
}

@include media-breakpoint-down(sm) {
  .cta-container {
    background: transparent;
    bottom: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    .is-scroll-nav & {
      background: #f9cadc;
      // background: linear-gradient(
      //   0deg,
      //   rgba(249, 193, 192, 1) 0%,
      //   rgba(249, 193, 192, 0) 100%
      // );
    }

    .cta-btn {
      display: inline-block;
      width: auto;
      /* color: #ae2070; */
      /* background: white; */
      padding: 6px 16px;
      font-size: 13px;
    }
  }
}

.pulse {
  box-shadow: 0 0 0 0 $momo2;
  cursor: pointer;
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

.pulse:hover {
  animation: none;
}

.cta-btn {
  background: $momo;
  border: 1px solid lighten($momo, 5%);
  border-radius: 5px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  padding: 9px 25px;
  width: 100%;
  border-radius: 99px;
  @include hover-focus() {
    color: white;
  }
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 10px rgba(232, 76, 61, 0);
  }
}

.brand {
  display: flex;
  flex-flow: row wrap;
  // background: white;
}

.brand-item {
  padding: 15px 10px;
  flex: 0 0 percentage(1/6);
  width: percentage(1/6);
  img {
    height: 100%;
    margin: 5px auto;
    max-height: 50px;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    vertical-align: middle;
    display: block;
  }

  @include media-breakpoint-down(md) {
    flex: 0 0 percentage(1/3);
    width: percentage(1/3);
  }

  @include media-breakpoint-down(sm) {
    flex: 0 0 percentage(1/3);
    width: percentage(1/3);
  }
}

.fp-responsive {
  padding-bottom: 40px !important;
}

.brand-name {
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  font-size: 15px;
  white-space: nowrap;
  color: gray("900");
  text-align: center;
  margin-top: 10px;
  @include media-breakpoint-down(sm) {
    font-size: 11px;
  }
}







.cashback-countdown-container {
  border-radius: 5px;
  background: #fff7f2;
  border: 1px solid #ffd5ba;
  padding: 15px 20px;
  margin-bottom: 20px;

}




.js-countdown {
  margin: 0 auto;
  width: 310px;
}

.js-countdown .countdown-container {
  height: 90px;
}

.js-countdown .time {
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);

  display: inline-block;
  text-align: center;
  position: relative;
  height: 56px;
  width: 58px;
  margin-left: 10px;
  word-spacing: 0;
  letter-spacing: normal;
  text-rendering: auto;


  -webkit-perspective: 479px;


  perspective: 479px;


  -webkit-backface-visibility: hidden;


  backface-visibility: hidden;


  -webkit-transform: translateZ(0);


  transform: translateZ(0);

  -webkit-transform: translate3d(0, 0, 0);

  transform: translate3d(0, 0, 0);
}

.countdown-container .time:first-child {
  margin-left: 0;
}

.js-countdown .count {
  background: white;
  color: #c10017;
  display: block;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.9em;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;

  -webkit-transform: translateZ(0);

  transform: translateZ(0);

  -webkit-transform-style: flat;

  transform-style: flat;
}

.js-countdown .count.top {

  border-radius: 5px 5px 0 0;
  height: 50%;

  -webkit-transform-origin: 50% 100%;

  transform-origin: 50% 100%;
}

.js-countdown .count.bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.02)));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.02));

  border-top: 1px solid rgba(0, 0, 0, 0.1);

  border-radius: 0 0 5px 5px;
  line-height: 0;
  height: 50%;
  top: 50%;


  -webkit-transform-origin: 50% 0;


  transform-origin: 50% 0;
}

.js-countdown .count.next {}

.js-countdown .label {
  font-size: normal;
  margin-top: 5px;
  display: block;
  position: absolute;
  top: 60px;
  font-size: 13px;
  width: 100%;
}

/* Animation start */
.js-countdown .count.curr.top {

  -webkit-transform: rotateX(0deg);

  transform: rotateX(0deg);
  z-index: 3;
}

.js-countdown .count.next.bottom {

  -webkit-transform: rotateX(90deg);

  transform: rotateX(90deg);
  z-index: 2;
}

/* Animation end */
.js-countdown .flip .count.curr.top {

  -webkit-transition: all 250ms ease-in-out;

  transition: all 250ms ease-in-out;

  -webkit-transform: rotateX(-90deg);

  transform: rotateX(-90deg);
}

.js-countdown .flip .count.next.bottom {

  -webkit-transition: all 250ms ease-in-out 250ms;

  transition: all 250ms ease-in-out 250ms;


  -webkit-transform: rotateX(0deg);


  transform: rotateX(0deg);
}

@include media-breakpoint-down(sm) {
  .cashback-countdown-container {
    border-radius: 5px;
    background: #fff7f2;
    border: 1px solid #ffd5ba;
    padding: 15px 15px;
    margin-bottom: 20px;
  }
  .js-countdown {
    margin: 0 auto;
    width: 250px;
  }

  .js-countdown .countdown-container {
    height: 90px;
  }

  .js-countdown .time {
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2),
      inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2),
      inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);

    display: inline-block;
    text-align: center;
    position: relative;
    height: 50px;
    width: 47px;
    margin-left: 10px;
    word-spacing: 0;
    letter-spacing: normal;
    text-rendering: auto;

    -webkit-perspective: 479px;

    perspective: 479px;

    -webkit-backface-visibility: hidden;

    backface-visibility: hidden;

    -webkit-transform: translateZ(0);

    transform: translateZ(0);

    -webkit-transform: translate3d(0, 0, 0);

    transform: translate3d(0, 0, 0);
  }

  .countdown-container .time:first-child {
    margin-left: 0;
  }

  .js-countdown .count {
    background: white;
    color: #c10017;
    display: block;
    font-size: 25px;
    font-weight: bold;
    line-height: 2em;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;

    -webkit-transform: translateZ(0);

    transform: translateZ(0);

    -webkit-transform-style: flat;

    transform-style: flat;
  }

  .js-countdown .count.top {
    border-radius: 5px 5px 0 0;
    height: 50%;

    -webkit-transform-origin: 50% 100%;

    transform-origin: 50% 100%;
  }

  .js-countdown .count.bottom {
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(transparent),
      to(rgba(0, 0, 0, 0.02))
    );
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.02));

    border-top: 1px solid rgba(0, 0, 0, 0.1);

    border-radius: 0 0 5px 5px;
    line-height: 0;
    height: 50%;
    top: 50%;

    -webkit-transform-origin: 50% 0;

    transform-origin: 50% 0;
  }

  .js-countdown .count.next {
  }

  .js-countdown .label {
    font-size: normal;
    margin-top: 5px;
    display: block;
    position: absolute;
    top: 60px;
    font-size: 13px;
    width: 100%;
  }

  /* Animation start */
  .js-countdown .count.curr.top {
    -webkit-transform: rotateX(0deg);

    transform: rotateX(0deg);
    z-index: 3;
  }

  .js-countdown .count.next.bottom {
    -webkit-transform: rotateX(90deg);

    transform: rotateX(90deg);
    z-index: 2;
  }

  /* Animation end */
  .js-countdown .flip .count.curr.top {
    -webkit-transition: all 250ms ease-in-out;

    transition: all 250ms ease-in-out;

    -webkit-transform: rotateX(-90deg);

    transform: rotateX(-90deg);
  }

  .js-countdown .flip .count.next.bottom {
    -webkit-transition: all 250ms ease-in-out 250ms;

    transition: all 250ms ease-in-out 250ms;

    -webkit-transform: rotateX(0deg);

    transform: rotateX(0deg);
  }
}
