{% set title = 'Gulp Des Index' %}
{% set page = 'index.html' %}

{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}

<div class="hero-container " id="hero-container">

    <div class="hero-content">
        <div class="hero-content-flex ">
            <div class="hero-thumbnail">
                <div class="row no-gutters">

                    <div class="col-12  ">
                        <img data-src="images/hero-txt-1.svg"
                            class="img-fluid  d-none d-lg-block mx-auto hero-txt-img lazyload" width="" alt="">
                    </div>

                    <div class="col-12">
                        <br class=" d-lg-block">
                    </div>

                    <div class="col-12">
                        <div class="hero-thumbnail">

                            <img data-src="https://static.mservice.io/img/momo-upload-api-200508171735-637245550558542730.png"
                                class="animated2  zoomIn2 img-fluid mx-auto d-none d-lg-block lazyload" width="700"
                                alt="">
                        </div>
                    </div>


                </div>


            </div>

            <div class="coin">
                <div class="coin-item coin-1">
                    <img data-src="images/coin/coin-1.svg" class="lazyload" alt="">
                </div>
                <div class="coin-item coin-2">
                    <img data-src="images/coin/coin-2.svg" class="lazyload" alt="">
                </div>
                <div class="coin-item coin-3">
                    <img data-src="images/coin/coin-3.svg" class="lazyload" alt="">
                </div>
                <div class="coin-item coin-4">
                    <img data-src="images/coin/coin-4.svg" class="lazyload" alt="">
                </div>
                <div class="coin-item coin-5">
                    <img data-src="images/coin/coin-5.svg" class="lazyload" alt="">
                </div>
            </div>

        </div>
    </div>


    <div class="road">



        <div class="house">

            <!-- <div class="house-item house-plane">
                <a href="https://momo.vn/thanh-toan-momo-circlek" target="_blank">
                    <div class="house-label ">
                        <div class="big">Hoàn tiền 0.3%</div>
                        <div class="img">
                            <img data-src="images/house/hoantien-logo-7.png" class="img-fluid lazyload" alt="">
                        </div>
                    </div>
                    <div class="house-img">
                        <img data-src="images/house/house-plan.svg" width="" class="img-fluid lazyload" alt="">
                    </div>
                </a>
            </div> -->

            <div class="house-item house-5">
                <a href="https://momo.vn/thanh-toan-momo-circlek" target="_blank">
                    <div class="house-label ">
                        <div class="big">Hoàn tiền 10%</div>
                        <div class="img">
                            <img data-src="https://static.mservice.io/images/s/momo-upload-api-200511101859-637247891396577775.png" class="img-fluid lazyload" alt="">
                        </div>
                        <!-- <div class="xs">Domino pizza</div> -->
                    </div>
                    <div class="house-img">
                        <img data-src="images/house/house-5.svg" width="" class="img-fluid lazyload" alt="">

                    </div>
                </a>
            </div>

            <div class="house-item house-11">
                <a href="https://momo.vn/thanh-toan-momo-circlek" target="_blank">
                    <div class="house-label">
                        <div class="big">Hoàn tiền 3%</div>
                        <div class="img">
                            <img data-src="https://static.mservice.io/images/s/momo-upload-api-200511101939-637247891792408188.png" width="230" class="img-fluid lazyload"
                                alt="">
                        </div>
                    </div>
                    <div class="house-img">
                        <img data-src="images/house/house-11.svg" width="" class="img-fluid lazyload" alt="">

                    </div>
                </a>
            </div>

            <div class="house-item house-10">
                <a href="https://momo.vn/thanh-toan-momo-circlek" target="_blank">
                    <div class="house-label ">
                        <div class="big">Hoàn tiền 10%</div>
                        <div class="img">
                            <img data-src="https://static.mservice.io/images/s/momo-upload-api-200511102018-637247892189218174.png" class="img-fluid lazyload" alt="">
                        </div>
                        <!-- <div class="xs">Domino pizza</div> -->
                    </div>
                    <div class="house-img">
                        <img data-src="images/house/house-10.svg" width="" class="img-fluid lazyload" alt="">
                    </div>
                </a>
            </div>

            <div class="house-item house-3">
                <a href="https://momo.vn/thanh-toan-momo-circlek" target="_blank">
                    <div class="house-label ">
                        <div class="big">Hoàn tiền 10%</div>
                        <div class="img">
                            <img data-src="https://static.mservice.io/images/s/momo-upload-api-200511102050-637247892507275853.png" class="img-fluid lazyload" alt="">
                        </div>
                        <!-- <div class="xs">Domino pizza</div> -->
                    </div>
                    <div class="house-img">
                        <img data-src="images/house/house-3.svg" width="" class="img-fluid lazyload" alt="">
                    </div>
                </a>
            </div>

          


            <div class="house-item house-1">
                <a href="https://momo.vn/thanh-toan-momo-circlek" target="_blank">
                    <div class="house-label ">
                        <div class="big">Hoàn tiền 10%</div>
                        <div class="img">
                            <img data-src="https://static.mservice.io/images/s/momo-upload-api-200511102133-637247892930207954.png" class="img-fluid lazyload" alt="">
                        </div>
                        <!-- <div class="xs">Domino pizza</div> -->
                    </div>
                    <div class="house-img">
                        <img data-src="images/house/house-1.svg" width="" class="img-fluid lazyload" alt="">
                    </div>
                </a>
            </div>

            <!-- <div class="house-item house-2">
                <a href="https://momo.vn/thanh-toan-momo-circlek" target="_blank">
                    <div class="house-label ">
                        <div class="big">Hoàn tiền 15%</div>

                        <div class="img">
                            <img src="images/house/hoantien-logo-3.png" width="180" class="" alt="">
                        </div>
                    </div>
                    <div class="house-img">
                        <img src="images/house/house-2.svg" width="" class="img-fluid" alt="">

                    </div>
                </a>
            </div> -->


            

            <!-- <div class="house-item house-8">
                <a href="https://momo.vn/thanh-toan-momo-circlek" target="_blank">
                    <div class="house-label ">
                        <div class="big">Hoàn tiền 50%</div>

                        <div class="img">
                            <img data-src="images/house/hoantien-logo-8.png" width="140" class="lazyload" alt="">
                        </div>
                    </div>
                    <div class="house-img">
                        <img data-src="images/house/house-8.svg" width="" class="img-fluid lazyload" alt="">

                    </div>
                </a>
            </div> -->
<!--             
            <div class="house-item house-9">
                <a href="https://momo.vn/thanh-toan-momo-circlek" target="_blank">
                    <div class="house-label ">
                        <div class="big">Hoàn tiền 50%</div>

                        <div class="img">
                            <img data-src="images/house/hoantien-logo-9.png" width="60" class=" lazyload" alt="">
                        </div>
                    </div>
                    <div class="house-img">
                        <img data-src="images/house/house-9.svg" width="" class="img-fluid lazyload" alt="">
                    </div>
                </a>
            </div> -->

            <!--  <div class="house-item house-4">
                <a href="https://momo.vn/thanh-toan-momo-circlek" target="_blank">
                    <div class="house-label ">
                        <div class="big">Hoàn tiền 0.3%</div>
                        <div class="img">
                            <img src="images/house/hoantien-logo-5.png" width="30" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="house-img">
                        <img src="images/house/house-4.svg" width="" class="img-fluid" alt="">

                    </div>
                </a>
            </div> -->

            <!-- <div class="house-item house-6">
                <a href="https://momo.vn/thanh-toan-momo-circlek" target="_blank">
                    <div class="house-label">
                        <div class="big">Hoàn tiền 3%</div>
                        <div class="img">
                            <img data-src="images/house/hoantien-logo-6.png" width="230" class="img-fluid lazyload"
                                alt="">
                        </div>
                    </div>
                    <div class="house-img">
                        <img data-src="images/house/house-6.svg" width="" class="img-fluid lazyload" alt="">

                    </div>
                </a>
            </div> -->
        </div>


        <div class="car">

            <div class="car-item car-3">
                <img data-src="images/car/car3.svg" width="58" class="lazyload" alt="">
            </div>

            <div class="car-item car-4">
                <img data-src="images/car/car4.svg" width="106" class="lazyload" alt="">
            </div>


            <div class="car-item car-2">
                <img data-src="images/car/car2.svg" width="132" class="lazyload" alt="">
            </div>

            <div class="car-item car-1">
                <img data-src="images/car/car1.svg" width="64" class="lazyload" alt="">
            </div>



            <div class="car-item car-5">
                <img data-src="images/car/car5.svg" width="56" class="lazyload" alt="">
            </div>

        </div>


        <div class="cloud cloud-1" style="background-image: url('images/cloud/cloud-1.png')">
        </div>

        <div class="cloud cloud-2" style="background-image: url('images/cloud/cloud-2.png')">
        </div>

        <div class="road-bg" style="background-image: url('images/road.svg')">
        </div>

        <div class="road-ride" style="background-image: url('images/road-ride.svg')">
        </div>
    </div>

</div>

<div class="page-bg-mobile d-block d-lg-none" style="background-image: url(images/bg-mb.jpg);"></div>

<div class="cta-container">
    <a href="" class="cta-btn pulse">
        XEM CHI TIẾT
    </a>
</div>

<div class="indicate-dots">
    <ul id="" class="list-unstyled my-menu">
        <li data-menuanchor="section0" class="active"><a href="#section0"></a></li>
        <li data-menuanchor="section1"><a href="#section1"></a></li>
        <li data-menuanchor="section2"><a href="#section2"></a></li>
        <li data-menuanchor="section3"><a href="#section3"></a></li>
        <li data-menuanchor="section4"><a href="#section4"></a></li>
        <li data-menuanchor="section5"><a href="#section5"></a></li>
        <li data-menuanchor="section6"><a href="#section6"></a></li>
    </ul>

</div>



<div id="fullpage">


    <div class="section active section-hero" data-anchor="section0">

        <div class="container section-fullpage align-items-start p-0 ">
            <div class="row no-gutters h-100 align-items-center justify-content-center">

                <div class="col-12">
                    <br class=" d-lg-block">
                </div>
                <div class="col-12 px-2">
                    <div class="hero-thumbnail d-block d-lg-none">
                        <img data-src="https://static.mservice.io/images/s/momo-upload-api-200511104810-637247908907024508.png"
                            class="animated2 d-block mb-4  zoomIn2 img-fluid mx-auto lazyload" width="" alt="">
                    </div>
                </div>

                <div class="col-12  d-block d-lg-none mt-4">
                    <!-- <div class="text-center">
                        <div class="mb-2" style="color: #AB2071; font-size: 12px;">Địa điểm áp dụng:</div>
                    </div> -->

                    <div class="text-center sponser-img pt-1">
                        <img src="https://static.mservice.io/images/s/momo-upload-api-200511105749-637247914696715071.png" class="img-fluid d-block mx-auto" alt="">
                    </div>
                </div>


            </div>


        </div>

    </div>


    <div class="section " data-anchor="section1">
        <div class="container section-fullpage">
            <div class="row h-100 align-items-center justify-content-center">
                <div class="col-12">


                    <div class="box">

                        <div class="box-title" style="background-image: url('images/title-bg.svg'); font-size: 15px;">
                            HEO ĐẤT MOMO – HOÀN TIỀN TIẾT KIỆM
                        </div>


                        <div class="row  sm-gutters box-content pt-2 pt-lg-4">
                            <div class="col-6 col-md-6 col-lg-3">
                                <div class="mb-2">
                                    <img data-src="images/pic/pic-1.png" class="img-fluid mx-auto d-block lazyload"
                                        alt="">
                                </div>

                            </div>

                            <div class="col-6 col-md-6 col-lg-3">
                                <div class="mb-2">
                                    <img data-src="images/pic/pic-2.png" class="img-fluid mx-auto d-block lazyload"
                                        alt="">
                                </div>
                            </div>

                            <div class="col-6 col-md-6 col-lg-3">
                                <div class="mb-2">
                                    <img data-src="images/pic/pic-3.png" class="img-fluid mx-auto d-block lazyload"
                                        alt="">
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-3">
                                <div class="mb-2">
                                    <img data-src="images/pic/pic-4.png" class="img-fluid mx-auto d-block lazyload"
                                        alt="">
                                </div>
                            </div>


                        </div>

                        <div class="row  no-gutters about-heading align-items-end box-content">
                            <div class="d-none d-lg-block col-lg-auto">
                                <img src="images/heo-momo.png" width="70" class="img-fluid" alt="">
                            </div>
                            <div class="col-12 col-lg">
                                <h4 class="pb-2 ml-0 ml-lg-2">
                                    Đôi nét về chương trình Hoàn Tiền Tiết Kiệm
                                    cùng Ví MoMo
                                </h4>
                            </div>
                        </div>


                        <div class="about-content">
                            <strong>HOÀN TIỀN TIẾT KIỆM</strong> là tính năng mới nhất trên Ví MoMo và đang trong giai
                            đoạn thử nghiệm
                            (dành riêng cho thành viên hạng Vàng). Tính năng được kích hoạt khi người dùng thanh toán
                            giao dịch bất kỳ bằng Ví MoMo với tỷ lệ hoàn tiền từ 0,3% đến 30% tùy theo nhà cung cấp dịch
                            vụ/sản phẩm. Số tiền hoàn lại được tích lũy trong tài khoản hoàn tiền và có thể rút về Ví
                            MoMo sử dụng cho mọi dịch vụ khi đạt đủ 10.000 đồng. Ngoài ra, MoMo sẽ tiếp tục phát triển
                            tính năng này với nhiều chức năng, hoạt động kết nối cộng đồng người dùng MoMo.
                        </div>
                    </div>

                </div>
            </div>


        </div>


    </div>





    <div class="section " data-anchor="section2">


        <div class="container section-fullpage">
            <div class="row h-100 align-items-center justify-content-center">
                <div class="col-12">


                    <div class="box">

                        <div class="box-title" style="background-image: url('images/title-bg.svg')">
                            TIỀN ĐƯỢC HOÀN LẠI, BẠN CÓ THỂ
                        </div>


                        <!-- Nav tabs -->
                        <ul class="nav htu-nav">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#to1">Nhận hoàn tiền siêu to</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#to2">Nuôi heo ngay
                                    Thêm ưu đãi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#to3">Quyên góp ngay
                                    Chỉ từ 1.000Đ</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#to3">Rút tiền siêu tốc
                                    Từ 1.000Đ</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane container  in active" id="to1">
                                <div class="row manual-device-swiper-container pt-4">
                                    <div class="col-12 col-lg-6 order-2 order-lg-1">
                                        <div class="manual-device d-block" id=hd-sub-img-466235 childid=466235>
                                            <div class=manual-device-stock></div>
                                            <div class=manual-device-slide>
                                                <div class="swiper-container manual-device-swiper" id=hd-sub-swp-466235>
                                                    <div class=swiper-wrapper>
                                                        <div class=swiper-slide><img
                                                                data-src=https://static.mservice.io/img/step-1.jpg
                                                                class="img-fluid lazyload"
                                                                alt="Chọn liên kết tài khoản">
                                                        </div>
                                                        <div class=swiper-slide><img
                                                                data-src=https://static.mservice.io/img/buoc%202.png
                                                                class="img-fluid lazyload" alt="Chọn “OceanBank”"></div>
                                                        <div class=swiper-slide><img
                                                                data-src=https://static.mservice.io/img/momo-upload-api-190618133830-636964619102590719.jpg
                                                                class="img-fluid lazyload"
                                                                alt="Nhập thông tin tài khoản">
                                                        </div>
                                                        <div class=swiper-slide><img
                                                                data-src=https://static.mservice.io/img/buoc%204.png
                                                                class="img-fluid lazyload" alt="Nhập mã xác thực"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6 order-1 order-lg-2">
                                        <ol class="process list-unstyled manual-process" childid=466235
                                            id=hd-sub-ctn-466235>
                                            <li class="process_item active">
                                                <div class=process__number><span>1</span></div>
                                                <div class=process__body>
                                                    <h4 class=process__body-title>Ch&#x1ECD;n
                                                        li&#xEA;n k&#x1EBF;t t&#xE0;i
                                                        kho&#x1EA3;n</h4>
                                                    <div class=process__body-content>
                                                        <p>Nhấn chọn &ldquo;<strong>Li&ecirc;n
                                                                kết t&agrave;i
                                                                khoản</strong>&rdquo; tr&ecirc;n
                                                            m&agrave;n h&igrave;nh ch&iacute;nh
                                                            hoặc Nhấn v&agrave;o
                                                            &ldquo;<strong>Li&ecirc;n kết
                                                                ngay</strong>&rdquo; tr&ecirc;n
                                                            một m&agrave;n h&igrave;nh bất
                                                            k&igrave;
                                                    </div>
                                                </div>
                                            <li class=process_item>
                                                <div class=process__number><span>2</span></div>
                                                <div class=process__body>
                                                    <h4 class=process__body-title>Ch&#x1ECD;n
                                                        &#x201C;OceanBank&#x201D;</h4>
                                                    <div class=process__body-content>
                                                        <p>Nhấn chọn logo <strong>OceanBank
                                                            </strong>tr&ecirc;n m&agrave;n
                                                            h&igrave;nh &ldquo;Li&ecirc;n kết
                                                            t&agrave;i khoản&rdquo; hoặc một
                                                            m&agrave;n h&igrave;nh bất kỳ
                                                    </div>
                                                </div>
                                            <li class=process_item>
                                                <div class=process__number><span>3</span></div>
                                                <div class=process__body>
                                                    <h4 class=process__body-title>Nh&#x1EAD;p
                                                        th&#xF4;ng tin t&#xE0;i kho&#x1EA3;n
                                                    </h4>
                                                    <div class=process__body-content>
                                                        <p>- Lưu &yacute;: Số điện thoại đăng
                                                            k&yacute; nhận OTP tại ng&acirc;n
                                                            h&agrave;ng OceanBank phải
                                                            tr&ugrave;ng với số V&iacute;
                                                            MoMo&nbsp;<br> - Nhập đầy đủ &amp;
                                                            ch&iacute;nh x&aacute;c c&aacute;c
                                                            th&ocirc;ng tin số thẻ/t&agrave;i
                                                            khoản theo y&ecirc;u cầu (c&aacute;c
                                                            th&ocirc;ng tin phải tr&ugrave;ng
                                                            khớp với th&ocirc;ng tin đ&atilde;
                                                            đăng k&yacute; ở OceanBank<br> -
                                                            Nhập đ&uacute;ng th&ocirc;ng tin họ
                                                            t&ecirc;n chủ thẻ/t&agrave;i khoản
                                                            đ&atilde; đăng k&yacute; với
                                                            ng&acirc;n h&agrave;ng.
                                                    </div>
                                                </div>
                                            <li class=process_item>
                                                <div class=process__number><span>4</span></div>
                                                <div class=process__body>
                                                    <h4 class=process__body-title>Nh&#x1EAD;p
                                                        m&#xE3; x&#xE1;c th&#x1EF1;c</h4>
                                                    <div class=process__body-content>
                                                        <p>Nhập m&atilde; x&aacute;c thực OTP từ
                                                            OceanBank để ho&agrave;n tất
                                                    </div>
                                                </div>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane container fade" id="to2">...</div>
                            <div class="tab-pane container fade" id="to3">...</div>
                            <div class="tab-pane container fade" id="to4">...</div>
                        </div>






                    </div>

                </div>
            </div>


        </div>


    </div>





    <div class="section" data-anchor="section3">
        <div class="container section-fullpage">
            <div class="row h-100 align-items-center justify-content-center">
                <div class="col-12">


                    <div class="box">

                        <div class="box-title" style="background-image: url('images/title-bg.svg')">
                            HOÀN TIỀN TIẾT KIỆM
                        </div>


                        <div class="row align-items-center box-content">
                            <div class="col-12 col-lg-5">
                                <img src="images/hmm1.png" class="img-fluid mx-auto d-block" alt="" width="340">
                            </div>

                            <div class="col-12 col-lg-7">
                                <div class="htk-title mb-2 mb-lg-1 mt-4 mt-lg-0">Heo đất MoMo <span
                                        class="d-none d-lg-inline"> - </span> <strong class="d-block d-lg-inline"> Hoàn
                                        Tiền Tiết Kiệm </strong></div>

                                <div class="htk-title">
                                    cùng Ví MoMo còn giúp bạn:
                                </div>

                                <ul class="list-unstyled mb-0 htk-list">
                                    <li>
                                        Tiền rút về sử dụng cho tất cả dịch vụ trên ứng dụng MoMo, bao gồm cả thanh toán
                                        dịch vụ, đóng góp từ thiện, chuyển tiền, rút tiền về tài khoản ngân hàng.
                                    </li>

                                    <li>
                                        Người dùng có thể nhận hoàn tiền tối đa vào tài khoản hoàn tiền tới
                                        <strong>1.000.000 đồng/tháng</strong>, tương ứng với <strong>12.000.000
                                            đồng/năm</strong>.
                                    </li>
                                    <li>
                                        Thêm nhiều hoạt động vui, ý nghĩa, kết nối cộng đồng cùng ưu đãi hấp dẫn hơn nữa
                                        cho người dùng.
                                    </li>
                                    <li>
                                        Mỗi giao dịch thanh toán trên Ví MoMo vẫn được Tích Điểm - Đổi Quà với mức
                                        <strong>ưu đãi lên đến 50%</strong> cho khách hàng.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>

    </div>



    <div class="section" data-anchor="section4">
        <div class="container section-fullpage">
            <div class="row h-100 align-items-center justify-content-center">
                <div class="col-12">


                    <div class="box">

                        <div class="box-title" style="background-image: url('images/title-bg.svg')">
                            TIN TỨC
                        </div>


                        <div class="row align-items-center box-content">



                            <div class="col-12 col-lg-10 offset-lg-1">

                                <div class="new-feature"
                                    style="background-image:url(https://static.mservice.io/blogscontents/momo-upload-api-le-quay-so-770x370-190301091622.jpg);background-position:center top;background-size:contain;cursor:pointer">

                                    <div class="new-feature-content">


                                        <h3 class="new-feature-title"><a href="" class="" data-toggle="modal"
                                                data-target=".des-modal-scroll" data-backdrop="">
                                                Nhận ngay 100.000đ thanh toán mọi hóa đơn VNPT trên Ví MoMo
                                            </a></h3>

                                        <ul class="new-meta clearfix list-inline mb-0">
                                            <li class="list-inline-item">
                                                1 giờ trước
                                            </li>
                                            <li class="list-inline-item">
                                                <svg class="svg-icon  new-meta-svg">
                                                    <use xlink:href="svg/svg.svg#svg-chat"></use>
                                                </svg>
                                                2 bình luận
                                            </li>
                                        </ul>

                                    </div>

                                </div>


                                <div class="row">
                                    <div class="col-12 col-md-4 col-lg-4">
                                        <div class="new-item ">
                                            <div class="new-item-img embed-responsive embed-responsive-16by9">
                                                <a href="tintuc-detail.html" class="link-absolute"></a>
                                                <img class="embed-responsive-img lazyloaded" alt=""
                                                    src="https://static.mservice.io/blogscontents/momo-upload-api-h3-190303170926.jpg">


                                            </div>

                                            <div class="new-item-content">

                                                <h4 class="new-item-title"><a href="" class="link-black">Có MoMo
                                                        -
                                                        Thanh toán Thẻ Vay
                                                        VietCredit siêu nhanh, có ngay “trợ lý điện tử”</a></h4>

                                                <ul class="new-meta clearfix list-inline mb-0">
                                                    <li class="list-inline-item">
                                                        2 giờ trước
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <svg class="svg-icon  new-meta-svg">
                                                            <use xlink:href="svg/svg.svg#svg-chat"></use>
                                                        </svg>
                                                        0 bình luận
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-4 col-lg-4">
                                        <div class="new-item ">
                                            <div class="new-item-img embed-responsive embed-responsive-16by9">
                                                <a href="tintuc-detail.html" class="link-absolute"></a>
                                                <img src="https://static.mservice.io/blogscontents/momo-upload-api-mm1392-1-190304143624.jpg"
                                                    class="embed-responsive-img" alt="">


                                            </div>

                                            <div class="new-item-content">

                                                <h4 class="new-item-title"><a href="tintuc-detail.html"
                                                        class="link-black">Có MoMo, có
                                                        sức sống mỗi ngày
                                                        từ Vissan!</a></h4>

                                                <ul class="new-meta clearfix list-inline mb-0">
                                                    <li class="list-inline-item">
                                                        2 giờ trước
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <svg class="svg-icon  new-meta-svg">
                                                            <use xlink:href="svg/svg.svg#svg-chat"></use>
                                                        </svg>
                                                        0 bình luận
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-4 col-lg-4">
                                        <div class="new-item ">
                                            <div class="new-item-img embed-responsive embed-responsive-16by9">
                                                <a href="tintuc-detail.html" class="link-absolute"></a>
                                                <img class="embed-responsive-img lazyloaded" alt=""
                                                    src="https://static.mservice.io/blogscontents/momo-upload-api-viber%20image%202019-02-28%20,%2016.24.20-190228162947.jpg">


                                            </div>

                                            <div class="new-item-content">

                                                <h4 class="new-item-title"><a href="tintuc-detail.html"
                                                        class="link-black">Mua bảo hiểm
                                                        VietinBank ngay
                                                        trên ứng dụng Ví MoMo</a></h4>

                                                <ul class="new-meta clearfix list-inline mb-0">
                                                    <li class="list-inline-item">
                                                        2 giờ trước
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <svg class="svg-icon  new-meta-svg">
                                                            <use xlink:href="svg/svg.svg#svg-chat"></use>
                                                        </svg>
                                                        0 bình luận
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="col-12 text-center mt-2">
                                <a href="" class="btn btn-outline-dark ">XEM TẤT CẢ</a>
                            </div>




                        </div>
                    </div>

                </div>
            </div>


        </div>

    </div>



    <div class="section" data-anchor="section5">
        <div class="container section-fullpage">
            <div class="row h-100 align-items-center justify-content-center">
                <div class="col-12">


                    <div class="box">

                        <div class="box-title" style="background-image: url('images/title-bg.svg')">
                            Dùng ví MoMo thanh toán

                            <span class="sub">
                                Hoàn tiền lên đến 50%
                            </span>

                        </div>


                        <div class="box-content pt-0 pt-lg-4">
                            <div class="htk-title is-small ">
                                <p>
                                    Ngày hội hoàn tiền siêu tiết kiệm lần 2 sẽ diễn ra duy nhất trong ngày <strong
                                        class="">01/11</strong> đáp ứng
                                    hầu
                                    hết các nhu cầu chi tiêu thanh toán phục vụ đời sống.
                                </p>
                                <p>
                                    Đây là sự kiện hoàn tiền lớn nhất
                                    cho đến nay của Ví MoMo, với số tiền hoàn dự kiến hơn <span
                                        class="font-weight-bold">250.000 đồng/người </span> dùng và quy mô
                                    hoàn tiền mở rộng từ siêu thị, cửa hàng tiện lợi, quán cà phê đến cây xăng và bệnh
                                    viện...hứa hẹn mang đến trải nghiệm mua sắm và thanh toán An toàn - Tiện lợi - Tiết
                                    kiệm.
                                </p>
                            </div>




                            <div class="row no-gutters pt-4">
                                <div class="col text-right d-none d-lg-block">
                                    <img src="https://static.mservice.io/images/s/momo-upload-api-191016145902-637068347428824674.png"
                                        class="img-fluid" alt="">
                                </div>
                                <div class="col col-lg-auto">

                                    <div class="mb-3">
                                        <img src="https://static.mservice.io/images/s/momo-upload-api-191016145057-637068342571802493.png"
                                            width="220" class="img-fluid mx-auto d-block" alt="">
                                    </div>

                                    <div class="js-countdown">
                                        <div class="countdown-container text-center" id="js-countdown"></div>
                                    </div>

                                    <div class="text-center mt-2 mt-lg-4 ">
                                        <a href="" class="btn btn-outline-momo rounded-pill px-4">Tìm
                                            hiểu ngay</a>
                                    </div>

                                </div>
                                <div class="col d-none d-lg-block ">
                                    <img src="https://static.mservice.io/images/s/momo-upload-api-191016145857-637068347372560937.png"
                                        class="img-fluid" alt="">
                                </div>
                            </div>



                        </div>




                    </div>

                </div>
            </div>


        </div>

    </div>

    <div class="section" data-anchor="section6">
        <div class="container section-fullpage">
            <div class="row h-100 align-items-center justify-content-center">
                <div class="col-12">


                    <div class="box">

                        <div class="box-title" style="background-image: url('images/title-bg.svg')">
                            Các đối tác áp dụng thanh toán
                            <span class="sub">
                                Hoàn tiền đến 50%
                            </span>

                        </div>


                        <div class="box-content">


                            <div class="cashback-sponser pt-0 pt-lg-4">
                                <img data-src="https://static.mservice.io/images/s/momo-upload-api-191017154118-637069236784808932.png"
                                    width="" class="img-fluid mx-auto d-none d-md-block lazyload" alt="">

                                <img data-src="https://static.mservice.io/images/s/momo-upload-api-191017154128-637069236880321174.png"
                                    width="" class="img-fluid mx-auto d-block d-md-none lazyload" alt="">
                            </div>



                        </div>




                    </div>

                </div>
            </div>


        </div>

    </div>

    <div class="section" data-anchor="section7">
        <div class="container section-fullpage">
            <div class="row h-100 align-items-center justify-content-center">
                <div class="col-12">


                    <div class="box">

                        <div class="box-title" style="background-image: url('images/title-bg.svg')">
                            Các câu hỏi thường gặp
                        </div>


                        <div class="box-content">



                            <ul class="nav tt-nav   " id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="pill" href="#huongdan-1" role="tab"
                                        aria-controls="pills-home" aria-selected="true">Thể lệ chương trình</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#huongdan-2" role="tab"
                                        aria-controls="pills-profile" aria-selected="false">Cách nhận thưởng</a>
                                </li>


                            </ul>


                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="huongdan-1" role="tabpanel"
                                    aria-labelledby="pills-home-tab">


                                    <div id="promotionThele" class="help-center-accordion promotion-accordion">
                                        <div class="card">
                                            <div class="card-header">
                                                <a class="card-link" data-toggle="collapse" href="#promotionThele1">
                                                    Đối tượng

                                                    <span class="card-link-icon minus">-</span>
                                                    <span class="card-link-icon plus">+</span>
                                                </a>
                                            </div>
                                            <div id="promotionThele1" class="collapse show"
                                                data-parent="#promotionThele">
                                                <div class="card-body">
                                                    Khách hàng có ví MoMo trên smartphone thuộc hệ điều hành
                                                    Android
                                                    hoặc iOS.
                                                    Có tài
                                                    khoản
                                                    ngân
                                                    hàng Vietcombank, VietinBank, BIDV, ACB, TPBank, VPBank,
                                                    OCB,
                                                    Eximbank, VIB,
                                                    thẻ nội
                                                    địa
                                                    Sacombank, Shinhan Bank hoặc SCB.
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-header">
                                                <a class="collapsed card-link" data-toggle="collapse"
                                                    href="#promotionThele2">
                                                    Điều kiện tham gia

                                                    <span class="card-link-icon minus">-</span>
                                                    <span class="card-link-icon plus">+</span>
                                                </a>
                                            </div>
                                            <div id="promotionThele2" class="collapse" data-parent="#promotionThele">
                                                <div class="card-body">
                                                    <div>Chưa cập nhập nội dung ...</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-header">
                                                <a class="collapsed card-link" data-toggle="collapse"
                                                    href="#promotionThele3">
                                                    Các bước thực hiện

                                                    <span class="card-link-icon minus">-</span>
                                                    <span class="card-link-icon plus">+</span>
                                                </a>
                                            </div>
                                            <div id="promotionThele3" class="collapse" data-parent="#promotionThele">
                                                <div class="card-body">
                                                    <div>Chưa cập nhập nội dung ...</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-header">
                                                <a class="collapsed card-link" data-toggle="collapse"
                                                    href="#promotionThele4">
                                                    Cơ cấu quà tặng

                                                    <span class="card-link-icon minus">-</span>
                                                    <span class="card-link-icon plus">+</span>
                                                </a>
                                            </div>
                                            <div id="promotionThele4" class="collapse" data-parent="#promotionThele">
                                                <div class="card-body">
                                                    <div>Chưa cập nhập nội dung ...</div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="card">
                                            <div class="card-header">
                                                <a class="collapsed card-link" data-toggle="collapse"
                                                    href="#promotionThele5">
                                                    Quy định về thẻ quà tặng

                                                    <span class="card-link-icon minus">-</span>
                                                    <span class="card-link-icon plus">+</span>
                                                </a>
                                            </div>
                                            <div id="promotionThele5" class="collapse" data-parent="#promotionThele">
                                                <div class="card-body">
                                                    <div>
                                                        <p>Chưa cập nhập nội dung ...</p>
                                                        <p>Chưa cập nhập nội dung ...</p>
                                                        <p>Chưa cập nhập nội dung ...</p>
                                                        <p>Chưa cập nhập nội dung ...</p>
                                                        <p>Chưa cập nhập nội dung ...</p>
                                                        <p>Chưa cập nhập nội dung ...</p>
                                                        <p>Chưa cập nhập nội dung ...</p>
                                                        <p>Chưa cập nhập nội dung ...</p>
                                                        <p>Chưa cập nhập nội dung ...</p>
                                                        <p>Chưa cập nhập nội dung ...</p>
                                                        <p>Chưa cập nhập nội dung ...</p>
                                                        <p>Chưa cập nhập nội dung ...</p>
                                                        <p>Chưa cập nhập nội dung ...</p>
                                                        <p>Chưa cập nhập nội dung ...</p>
                                                        <p>Chưa cập nhập nội dung ...</p>
                                                        <p>Chưa cập nhập nội dung ...</p>
                                                        <p>Chưa cập nhập nội dung ...</p>
                                                        <p>Chưa cập nhập nội dung ...</p>
                                                        <p>Chưa cập nhập nội dung ...</p>
                                                        <p>Chưa cập nhập nội dung ...</p>
                                                        <p>Chưa cập nhập nội dung ...</p>
                                                        <p>Chưa cập nhập nội dung ...</p>
                                                        <p>Chưa cập nhập nội dung ...</p>
                                                        <p>Chưa cập nhập nội dung ...</p>
                                                        <p>Chưa cập nhập nội dung ...</p>
                                                        <p>Chưa cập nhập nội dung ...</p>
                                                        <p>Chưa cập nhập nội dung ...</p>
                                                        <p>Chưa cập nhập nội dung ...</p>
                                                        <p>Chưa cập nhập nội dung ...</p>
                                                        <p>Chưa cập nhập nội dung ...</p>
                                                        <p>Chưa cập nhập nội dung ...</p>
                                                        <p>Chưa cập nhập nội dung ...</p>
                                                        <p>Chưa cập nhập nội dung ...</p>
                                                        <p>Chưa cập nhập nội dung ...</p>
                                                        <p>Chưa cập nhập nội dung ...</p>
                                                        <p>Chưa cập nhập nội dung ...</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>


                                </div>
                                <div class="tab-pane fade" id="huongdan-2" role="tabpanel"
                                    aria-labelledby="pills-profile-tab">
                                    ...
                                </div>

                            </div>

                        </div>



                    </div>

                </div>
            </div>


        </div>

    </div>

</div>


{% endblock %}