{% set title = 'Gulp Des Index' %}
{% set page = 'index.html' %}

{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}

<div class="container">
    <div class="row manual-device-swiper-container">
        <div class="col-12 col-lg-6 order-2 order-lg-1">
            <div class="manual-device d-block" id=hd-sub-img-466235 childid=466235>
                <div class=manual-device-stock></div>
                <div class=manual-device-slide>
                    <div class="swiper-container manual-device-swiper" id=hd-sub-swp-466235>
                        <div class=swiper-wrapper>
                            <div class=swiper-slide><img data-src=https://static.mservice.io/img/step-1.jpg
                                    class="img-fluid lazyload" alt="Chọn liên kết tài khoản">
                            </div>
                            <div class=swiper-slide><img data-src=https://static.mservice.io/img/buoc%202.png
                                    class="img-fluid lazyload" alt="Chọn “OceanBank”"></div>
                            <div class=swiper-slide><img
                                    data-src=https://static.mservice.io/img/momo-upload-api-190618133830-636964619102590719.jpg
                                    class="img-fluid lazyload" alt="Nhập thông tin tài khoản">
                            </div>
                            <div class=swiper-slide><img data-src=https://static.mservice.io/img/buoc%204.png
                                    class="img-fluid lazyload" alt="Nhập mã xác thực"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 order-1 order-lg-2">
            <ol class="process list-unstyled manual-process" childid=466235 id=hd-sub-ctn-466235>
                <li class="process_item active">
                    <div class=process__number><span>1</span></div>
                    <div class=process__body>
                        <h4 class=process__body-title>Ch&#x1ECD;n
                            li&#xEA;n k&#x1EBF;t t&#xE0;i
                            kho&#x1EA3;n</h4>
                        <div class=process__body-content>
                            <p>Nhấn chọn &ldquo;<strong>Li&ecirc;n
                                    kết t&agrave;i
                                    khoản</strong>&rdquo; tr&ecirc;n
                                m&agrave;n h&igrave;nh ch&iacute;nh
                                hoặc Nhấn v&agrave;o
                                &ldquo;<strong>Li&ecirc;n kết
                                    ngay</strong>&rdquo; tr&ecirc;n
                                một m&agrave;n h&igrave;nh bất
                                k&igrave;
                        </div>
                    </div>
                <li class=process_item>
                    <div class=process__number><span>2</span></div>
                    <div class=process__body>
                        <h4 class=process__body-title>Ch&#x1ECD;n
                            &#x201C;OceanBank&#x201D;</h4>
                        <div class=process__body-content>
                            <p>Nhấn chọn logo <strong>OceanBank
                                </strong>tr&ecirc;n m&agrave;n
                                h&igrave;nh &ldquo;Li&ecirc;n kết
                                t&agrave;i khoản&rdquo; hoặc một
                                m&agrave;n h&igrave;nh bất kỳ
                        </div>
                    </div>
                <li class=process_item>
                    <div class=process__number><span>3</span></div>
                    <div class=process__body>
                        <h4 class=process__body-title>Nh&#x1EAD;p
                            th&#xF4;ng tin t&#xE0;i kho&#x1EA3;n
                        </h4>
                        <div class=process__body-content>
                            <p>- Lưu &yacute;: Số điện thoại đăng
                                k&yacute; nhận OTP tại ng&acirc;n
                                h&agrave;ng OceanBank phải
                                tr&ugrave;ng với số V&iacute;
                                MoMo&nbsp;<br> - Nhập đầy đủ &amp;
                                ch&iacute;nh x&aacute;c c&aacute;c
                                th&ocirc;ng tin số thẻ/t&agrave;i
                                khoản theo y&ecirc;u cầu (c&aacute;c
                                th&ocirc;ng tin phải tr&ugrave;ng
                                khớp với th&ocirc;ng tin đ&atilde;
                                đăng k&yacute; ở OceanBank<br> -
                                Nhập đ&uacute;ng th&ocirc;ng tin họ
                                t&ecirc;n chủ thẻ/t&agrave;i khoản
                                đ&atilde; đăng k&yacute; với
                                ng&acirc;n h&agrave;ng.
                        </div>
                    </div>
                <li class=process_item>
                    <div class=process__number><span>4</span></div>
                    <div class=process__body>
                        <h4 class=process__body-title>Nh&#x1EAD;p
                            m&#xE3; x&#xE1;c th&#x1EF1;c</h4>
                        <div class=process__body-content>
                            <p>Nhập m&atilde; x&aacute;c thực OTP từ
                                OceanBank để ho&agrave;n tất
                        </div>
                    </div>
            </ol>
        </div>
    </div>
</div>
{% endblock %}