{% from 'macros/helpers.html' import sprite %}

<!doctype html>
<html lang="vi">

<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>

        {% block title %} {{ title }} {% endblock %}

    </title>
    <meta name="theme-color" content="#0e7abe">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" href="stylesheets/core.css">

</head>



<style>
   
 </style>
 

<body>

    <div class="page-loader" >

        <svg width="60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 176.19 176.21"><defs><style>.cls-1{fill:#fff;}.cls-2{fill:#ab2070;}</style></defs><title>logo</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M176.19,158.58a17.68,17.68,0,0,1-17.63,17.63h-141A17.67,17.67,0,0,1,0,158.58v-141A17.66,17.66,0,0,1,17.59,0h141a17.67,17.67,0,0,1,17.63,17.63Z"/><path class="cls-2" d="M22,150h2.12v1.19a3.32,3.32,0,0,1,2.66-1.38,2.88,2.88,0,0,1,1.45.34,2.62,2.62,0,0,1,1,1,4,4,0,0,1,1.24-1,2.91,2.91,0,0,1,1.41-.34,3.07,3.07,0,0,1,1.59.38,2.27,2.27,0,0,1,1,1.14,4.59,4.59,0,0,1,.25,1.79v5.51H32.4v-4.94a3.77,3.77,0,0,0-.23-1.66,1.08,1.08,0,0,0-1-.47,1.6,1.6,0,0,0-.91.28,1.65,1.65,0,0,0-.6.87,6.49,6.49,0,0,0-.19,1.76v4.16H27.22v-4.74a7.17,7.17,0,0,0-.12-1.61.91.91,0,0,0-.38-.54,1.18,1.18,0,0,0-.69-.18,1.58,1.58,0,0,0-1,.28,1.47,1.47,0,0,0-.59.83,5.52,5.52,0,0,0-.2,1.76v4.2H22Z"/><path class="cls-2" d="M38.26,154.15a4.62,4.62,0,0,1,.55-2.19,3.87,3.87,0,0,1,1.6-1.63,4.6,4.6,0,0,1,2.29-.56,4.33,4.33,0,0,1,4.45,4.49,4.4,4.4,0,0,1-1.26,3.22,4.22,4.22,0,0,1-3.18,1.31,5,5,0,0,1-2.25-.55,3.76,3.76,0,0,1-1.65-1.58,5.18,5.18,0,0,1-.55-2.51m2.34.12a2.87,2.87,0,0,0,.6,2,1.92,1.92,0,0,0,1.5.67,1.9,1.9,0,0,0,1.49-.67,2.85,2.85,0,0,0,.61-2,2.72,2.72,0,0,0-.61-1.94,1.85,1.85,0,0,0-1.49-.68,1.87,1.87,0,0,0-1.5.68,2.8,2.8,0,0,0-.6,2"/><path class="cls-2" d="M50.66,158.58V146.7H53V151a3.24,3.24,0,0,1,2.49-1.19A3.35,3.35,0,0,1,58,150.9a4.63,4.63,0,0,1,1,3.28,5,5,0,0,1-1,3.41,3.25,3.25,0,0,1-2.54,1.18,3.3,3.3,0,0,1-1.47-.35,4,4,0,0,1-1.23-1.12v1.28Zm2.26-4.49a3.72,3.72,0,0,0,.42,2,1.81,1.81,0,0,0,1.58.91,1.67,1.67,0,0,0,1.3-.65,3.22,3.22,0,0,0,.53-2,3.35,3.35,0,0,0-.53-2.11,1.69,1.69,0,0,0-1.38-.66,1.71,1.71,0,0,0-1.37.64,2.94,2.94,0,0,0-.55,1.93"/><path class="cls-2" d="M62.74,146.69H65v2.12H62.74Zm0,3.27H65v8.63H62.74Z"/><rect class="cls-2" x="69.17" y="146.69" width="2.3" height="11.89"/><path class="cls-2" d="M80.62,155.85l2.26.37a3.6,3.6,0,0,1-1.38,1.9,4,4,0,0,1-2.37.67,3.8,3.8,0,0,1-3.31-1.49,4.89,4.89,0,0,1-.85-3A4.69,4.69,0,0,1,76.09,151a3.65,3.65,0,0,1,2.82-1.21,3.82,3.82,0,0,1,3,1.27A5.54,5.54,0,0,1,83,154.93H77.29a2.34,2.34,0,0,0,.56,1.58,1.72,1.72,0,0,0,1.32.56,1.47,1.47,0,0,0,.89-.28,2,2,0,0,0,.56-.94m.12-2.31a2.21,2.21,0,0,0-.5-1.5,1.64,1.64,0,0,0-2.43,0,2,2,0,0,0-.46,1.48Z"/><path class="cls-2" d="M94.59,150h2.12v1.19a3.33,3.33,0,0,1,2.67-1.38,2.8,2.8,0,0,1,1.43.34,2.66,2.66,0,0,1,1,1,3.9,3.9,0,0,1,1.22-1,2.92,2.92,0,0,1,1.39-.34,3,3,0,0,1,1.6.38,2.43,2.43,0,0,1,1,1.14,4.83,4.83,0,0,1,.24,1.79v5.51H105v-4.94a4,4,0,0,0-.22-1.66,1.12,1.12,0,0,0-1-.47,1.57,1.57,0,0,0-.9.28,1.68,1.68,0,0,0-.62.87,6.26,6.26,0,0,0-.17,1.76v4.16H99.8v-4.74a7.17,7.17,0,0,0-.12-1.61,1,1,0,0,0-.38-.54,1.19,1.19,0,0,0-.68-.18,1.57,1.57,0,0,0-1,.28,1.48,1.48,0,0,0-.6.83,5.59,5.59,0,0,0-.19,1.76v4.2H94.59Z"/><path class="cls-2" d="M110.82,154.15a4.54,4.54,0,0,1,.58-2.19,3.83,3.83,0,0,1,1.58-1.63,4.65,4.65,0,0,1,2.29-.56,4.31,4.31,0,0,1,3.21,1.27,4.79,4.79,0,0,1,0,6.44,4.21,4.21,0,0,1-3.19,1.31,5,5,0,0,1-2.25-.55,3.77,3.77,0,0,1-1.63-1.58,5.06,5.06,0,0,1-.58-2.51m2.35.12a2.92,2.92,0,0,0,.61,2,2,2,0,0,0,3,0,3,3,0,0,0,.6-2,2.82,2.82,0,0,0-.6-1.94,2,2,0,0,0-3,0,2.85,2.85,0,0,0-.61,2"/><path class="cls-2" d="M131.16,158.58h-2.27v-4.4a7,7,0,0,0-.14-1.79,1.19,1.19,0,0,0-.48-.65,1.26,1.26,0,0,0-.78-.22,1.79,1.79,0,0,0-1.06.32,1.69,1.69,0,0,0-.65.86,7.7,7.7,0,0,0-.17,2v3.9h-2.29V150h2.12v1.28a3.54,3.54,0,0,1,4.22-1.19,2.2,2.2,0,0,1,.93.7,2.38,2.38,0,0,1,.46,1,7.43,7.43,0,0,1,.11,1.52Z"/><path class="cls-2" d="M140.3,155.85l2.27.37a3.61,3.61,0,0,1-1.39,1.9,4,4,0,0,1-2.34.67,3.86,3.86,0,0,1-3.33-1.49,5.59,5.59,0,0,1,.27-6.32,3.61,3.61,0,0,1,2.81-1.21,3.9,3.9,0,0,1,3.06,1.27,5.8,5.8,0,0,1,1,3.89H137a2.34,2.34,0,0,0,.55,1.58,1.71,1.71,0,0,0,1.32.56,1.45,1.45,0,0,0,.89-.28,1.84,1.84,0,0,0,.55-.94m.14-2.31a2.22,2.22,0,0,0-.52-1.5,1.6,1.6,0,0,0-2.4,0,2.05,2.05,0,0,0-.49,1.48Z"/><path class="cls-2" d="M145.3,150h2.46l2,6.12,2-6.12h2.36l-3,8.29-.55,1.5a4.92,4.92,0,0,1-.56,1.15,2.8,2.8,0,0,1-.62.66,3.76,3.76,0,0,1-.88.38,4.44,4.44,0,0,1-1.16.14,6.07,6.07,0,0,1-1.29-.14l-.2-1.78a4.9,4.9,0,0,0,1,.1,1.45,1.45,0,0,0,1.18-.47,3.31,3.31,0,0,0,.58-1.19Z"/><path class="cls-2" d="M125.54,17.63a28.63,28.63,0,1,0,28.61,28.62,28.6,28.6,0,0,0-28.61-28.62m0,41.06A12.44,12.44,0,1,1,138,46.25a12.45,12.45,0,0,1-12.45,12.44"/><path class="cls-2" d="M39.45,74.89V37.77a4.29,4.29,0,0,1,8.55,0V74.89H65.46V37.74a4.28,4.28,0,0,1,8.54,0V74.89H91.44V37.77c0-11.1-9.74-20.14-21.72-20.14a22.67,22.67,0,0,0-13,4,22.89,22.89,0,0,0-13-4c-12,0-21.72,9-21.72,20.14V74.89Z"/><path class="cls-2" d="M125.54,83.69a28.63,28.63,0,1,0,28.61,28.65,28.62,28.62,0,0,0-28.61-28.65m0,41.11A12.47,12.47,0,1,1,138,112.34a12.48,12.48,0,0,1-12.45,12.46"/><path class="cls-2" d="M39.45,141V103.85a4.29,4.29,0,0,1,8.55,0h0V141H65.46V103.85h0a4.28,4.28,0,0,1,8.54,0V141H91.44V103.85c0-11.1-9.74-20.15-21.72-20.15a22.47,22.47,0,0,0-13,4,22.68,22.68,0,0,0-13-4c-12,0-21.72,9-21.72,20.15V141Z"/></g></g></svg>

    </div>

    <div class="wrapper">



        {% include "layouts/header.html" %}

        {% block content %}





        {% endblock %}


        {% include "layouts/footer.html" %}

    </div>

    {% block javascript %}

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>

    <script src="javascripts/app.js"></script>

    <script src="js/imagesloaded.pkgd.min.js"></script>

    <script src="js/bezier-easing.min.js"></script>
    
    <script src="js/TweenMax.min.js"></script>

    <script src="js/swiper.min.js"></script>

    <script src="js/lazysizes.min.js"></script>

    <script src="js/scrolloverflow.js"></script>
    <script src="js/fullpage.extensions.min.js"></script>


    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/lodash.min.js"></script>

    <script type="text/template" id="js-countdown-template">
        <div class="time <%= label %>">
          <span class="count curr top"><%= curr %></span>
          <span class="count next top"><%= next %></span>
          <span class="count next bottom"><%= next %></span>
          <span class="count curr bottom"><%= curr %></span>
          <span class="label"><%= label.length < 6 ? label : label.substr(0, 3)  %></span>
        </div>
     </script>


     <script>
     

   $(window).on('load', function () {
      var labels = ['NGÀY', 'GIỜ', 'PHÚT', 'GIÂY'],
         // nextYear = (new Date().getFullYear() + 7) + '/01/01',

         nextYear = "2019/11/01";
      template = _.template($('#js-countdown-template').html()),
         currDate = '00:00:00:00',
         nextDate = '00:00:00:00',
         parser = /([0-9]{2})/gi,
         $example = $('#js-countdown');
      // Parse countdown string to an object
      function strfobj(str) {
         var parsed = str.match(parser),
            obj = {};
         labels.forEach(function (label, i) {
            obj[label] = parsed[i]
         });
         return obj;
      }
      // Return the time components that diffs
      function diff(obj1, obj2) {
         var diff = [];
         labels.forEach(function (key) {
            if (obj1[key] !== obj2[key]) {
               diff.push(key);
            }
         });
         return diff;
      }
      // Build the layout
      var initData = strfobj(currDate);
      labels.forEach(function (label, i) {
         $example.append(template({
            curr: initData[label],
            next: initData[label],
            label: label
         }));
      });
      // Starts the countdown
      $example.countdown(nextYear, function (event) {
         // var newDate = event.strftime(totalHours + '%M:%S'),
         var newDate = event.strftime('%D:%H:%M:%S'),
            data;
         if (newDate !== nextDate) {
            currDate = nextDate;
            nextDate = newDate;
            // Setup the data
            data = {
               'curr': strfobj(currDate),
               'next': strfobj(nextDate)
            };
            // Apply the new values to each node that changed
            diff(data.curr, data.next).forEach(function (label) {
               var selector = '.%s'.replace(/%s/, label),
                  $node = $example.find(selector);
               // Update the node
               $node.removeClass('flip');
               $node.find('.curr').text(data.curr[label]);
               $node.find('.next').text(data.next[label]);
               // Wait for a repaint to then flip
               _.delay(function ($node) {
                  $node.addClass('flip');
               }, 50, $node);
            });
         }
      });
   });


</script>
     


    <script src="js/custom.js"></script>
  

    {% endblock %}

</body>

</html>