<nav class="navbar navbar-light navbar-cashback  bg-transparent  fixed-top  ">
   <div class="container">
      <a class="navbar-brand" href="#">
         <img src="https://static.mservice.io/img/logo-momo.png" width="34" class="" alt="">

      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
         aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
         <ul class="navbar-nav mr-auto my-menu" id="">

            <li class="nav-item" data-menuanchor="section0">
               <a href="#section0" class="nav-link">
                  Trang chủ
               </a>
            </li>


            <li class="nav-item" data-menuanchor="section1">
               <a href="#section1" class="nav-link">
                     Giới thiệu

               </a>
            </li>

            <li class="nav-item" data-menuanchor="section2">
               <a href="#section2" class="nav-link">
                     Hướng dẫn

               </a>
            </li>


            <li class="nav-item" data-menuanchor="section3">
               <a href="#section3" class="nav-link">
                     Ưu điểm

               </a>
            </li>

            <li class="nav-item" data-menuanchor="section4">
               <a href="#section4" class="nav-link">
                     Tin tức
               </a>
            </li>

            <li class="nav-item" data-menuanchor="section5">
                  <a href="#section5" class="nav-link">
                        Tải App
                  </a>
               </li>

               <li class="nav-item" data-menuanchor="section6">
                     <a href="#section6" class="nav-link">
                           Hướng dẫn
                     </a>
                  </li>

            {% for file, item in navigation  %}


            <li {% if isActiveMenuItem(file, item, filename) or item.sub %}
               class="nav-item {{ 'active' if isActiveMenuItem(file, item, filename) }}{{ ' dropdown' if item.sub }}"
               {% endif %}>
               <a class="nav-link {{ ' dropdown-toggle' if item.sub }}" {% if item.sub %} id="dropdown{{loop.index}}"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {% endif %}
                  href="{{file | safe}}">{{ item.name | safe }}</a>


               {% if item.sub %}

               <div class="dropdown-menu" aria-labelledby="dropdown{{loop.index}}">

                  {% for file, item in item.sub  %}
                  <a class="dropdown-item {{ 'active' if isActiveMenuItem(file, item, filename) }}"
                     href="{{file | safe}}">{{ item.name | safe }}</a>
                  {% endfor %}


               </div>



               {% endif %}

            </li>



            {% endfor %}

         </ul>

      </div>
   </div>
</nav>


